.header {
    height: 95vh;
    background-image: 
    linear-gradient(to right bottom, 
    rgba($color-primary-light,0.5), 
    rgba($color-primary-dark,0.6)), 
    url("../img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh,0 100%);
    clip-path: polygon(0 0,100% 0, 100% 75vh,0 100%);
    /* clip-path: polygon(30% 0,60% 0, 80% 30%, 80% 60%, 60% 90%, 30% 90%, 10% 60%,10% 30% ); */
    position: relative;

        &__logo-box {
            position: absolute;
            top: 4rem;
            left:4rem;
        }
        &__logo {
            height:3.5rem;
        }
    
        &__text-box {
            position: absolute;
            top:40%;
            left:50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    
}
